/*Importation des fichiers nécéssaires*/
@import "partials/susy";
@import "partials/normalize";
@import "partials/mixin";
@import "mpfIconsFont";

/*Variables des couleurs*/

$noir: #000000;
$blanc: #ffffff;
$grisPale: #949494;
$grisFoncee: #3e3e3e;

$primaryColor: #E07B22;
$background: #f6f6f6;
$erreur: #C71F22;

$catAmour: #d65d5d;
$catFamille: #5db5d6;
$catAmis: #48b586;
$catVoyages: #cf964c;
$catAutre: #949494;





//-------------------------------------------//
// 01 SCSS INITIALISATION DE SUSY SUR 12 COLLONES
//-------------------------------------------//
$susy: (
        columns: 8,
        container: 100%,
        global-box-sizing: border-box,
      //  debug:(image:show),

);

.container{
  @include container;
}

html{

	height: 100%;
	position: relative;
	top: 0;
  @include box-sizing();
}
body{
	font-family: Montserrat;
	overflow-x: hidden;
	font-size: 16px;
  background-image: url("../images/pattern.jpg");
	background-color: $background;
	@include box-sizing();
}
ul{
  padding: 0;
}
noscript{
  position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.9);
  .noscripts{
    width: 300px;
    margin: auto;
    background-color: $erreur;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    color: $blanc;
    z-index: 10;

    a{
      font-size: 12px;
      text-align: center;
      color: $blanc;
      text-decoration: underline;
    }
  }

}
#front-page{
	background-color: #5db5d6;
  background-image: url("../images/indexBackground/1.png");

	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
  .logo{
      border-bottom:solid 1px $blanc;
    p{
      color: $blanc;
      padding: 10px;
      border: solid 1px $blanc;
      display: inline-block;
      margin: 20px;
    }
  }
  .media-sociaux{
    padding: 0;
    list-style-type: none;
    float: right;
    padding-right: 40px;
    li{
      display: inline-block;
      cursor: pointer;
      margin-top: 10px;
      margin-right: 20px;
      &:hover{
        svg{
          fill: $primaryColor;
        }

      }
    }
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
h1,h2,h3,h4,p{
	margin:0;
}
a{
  text-decoration: none;
}
.mpf-trash{
  &:hover{
    color: $erreur;
  }
}
.load-more{
	text-align: center;
	margin-bottom: 60px;
	cursor: pointer;
  color: $grisFoncee;
}
button#btn_more {
  border: none;
  width: 200px;
  padding: 20px;
  border-radius: 5px;

}
.btn-retour{

  font-size: 30px;
  position: relative;


  .mpf-arrow-left{
    color: $primaryColor;
    position: absolute;
    border-radius: 50%;
    border: solid 1px $primaryColor;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);

    transition: all 0.3s ease-in-out;
    &:after{
      content: 'Retour';
      position: absolute;
      font-family: Montserrat;
      font-size: 16px;
      left: 0;
      top: 7px;
      -webkit-opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }
    &:hover{
      background-color: $primaryColor;
      color: $blanc;
      &:after{
        -webkit-opacity: 1;
        color: $primaryColor;
        transform: translateX(40px);
      }

    }
  }

}
//-------------------------------------------//
// 03 SCSS pour les erreurs dans l'app
//-------------------------------------------//
.erreurForm, .acceptForm{
	color: $blanc;
	width: 100%;
	border-radius: 10px;
    background-color: $erreur;
    line-height: 40px;
    text-align: center;
	@include box-sizing();
}
.acceptForm{
    background-color: $catAmis;
}



//-------------------------------------------//
// 03 SCSS pour la navigation de l'index
//-------------------------------------------//
.cont-Header-wrapper{
	margin:auto;
	max-width: 350px;
	padding-top: 40px;
	padding-bottom: 10px;
	color: $blanc;
	ul{
		list-style-type: none;
		padding: 0;
		display: inline-flex;
		position: relative;
		li{
			padding: 20px;
			cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
		}
			li.active{
				color: $grisFoncee;
        text-decoration: underline;
        color: #3e3e3e;
        background-color: #fff;
        border-radius: 5px;

			}
	}
	ul.changed {
		// &:after{
		// 	transform: translateX(-130px);
		// }
	}
}

//-------------------------------------------//
// 03 SCSS pour la section de form de l'index
//-------------------------------------------//
.content-page-index{
	width: 100%;

	.cont-inscription-wrapper, .cont-connexion-wrapper{
		margin:auto;
		max-width: 350px;
	}
}

.btn-action{
	border: none;
	background-color: #E07B22;
	width: span(8);
	height: 60px;
	border-radius: 5px;
	color: $blanc;
	margin:20px 0px;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: darken($primaryColor, 10%);
  }
}

input[type="text"],input[type="password"],input[type="email"], textarea, select{
	width: span(8);
  border: solid 1px $grisPale;
	background-color: $blanc;
	height: 55px;
	border-radius: 5px;
	color: $grisFoncee;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
	@include box-sizing();
}
label{
	color: $grisFoncee;
}
//-------------------------------------------//
// 03 SCSS pour la navigation du header
//-------------------------------------------//
header{
	background-color: $grisFoncee;
	width: 40px;
	position: fixed;
	min-height: 100%;
  z-index: 2;
	ul{
		list-style-type: none;
		padding: 0;
    a{
      color: $blanc;
      text-decoration: none;
      font-size:25px;

    }
		li{
			text-align: left;
      padding-left: 7px;
			margin-bottom: 15px;
      position: relative;

			&:hover{
				background-color: darken($grisFoncee, 5%);
        .hover-liste-cont{
          display: block;
        }
			}

      .hover-liste-cont{
        display: none;
        font-size: 14px;
        color: $blanc;
        background-color: darken($grisFoncee, 5%);
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 0px;
        left: 50px;
        z-index:9999;
        &:before{

          content:"\A";
     border-style: solid;
     border-width: 10px 15px 10px 0;
     border-color: transparent darken($grisFoncee, 5%) transparent transparent;
     position: absolute;
     left: -7px
        }
      }
		}
    li.open-menu {
    position: absolute;
    bottom: 0;
    }
	}
    transition: all 0.3s ease-in-out;
  &.open{
    width: 200px;
    overflow: hidden;
    ul{
      li{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        .hover-liste-cont{
          display: block;
          background-color: transparent;
          &:before{
            content: "";
            border: none;
          }
        }
        &:hover{
          padding-left: 15px;
        }
      }
    }
  }
}
#accueil, #creePost, #profile{
	margin-left: 40px;

}
.welcome{
  max-width: 600px;
  margin: auto;
  padding: 30px;
  text-align: center;
  p{
    text-align: left;
  }
}
.classement-title{
  max-width: 600px;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 100px;
  text-align: center;
}
//-------------------------------------------//
// 03 SCSS pour afficher un post
//-------------------------------------------//
.add-post{
	a{
		text-decoration: none;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: $primaryColor;
		position: fixed;
		bottom: 20px;
		right: 20px;
		-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.2);
	}
	i{
		color: $blanc;
		font-size: 25px;
		position: absolute;
		left: 27%;
		top:50%;
		transform: translateY(-50%);

	}

}
.Famille{
  background-color: $catFamille;
}
.Alcool{
  background-color: #945DD0;
}
.Amour{
  background-color: $catAmour;
}
.Humour{
  background-color: $catAmis;

}

@keyframes opacitysPost {
  0% {opacity: 0; transform: translateY(15px);}
  100% {opacity: 1}
}


.un-post, .un-post-cla{
	width: 100%;
	max-width: 600px;
	margin: auto;
  animation: opacitysPost 0.7s ease-in-out;
	.cat-post{
		height: 60px;
		p{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			padding-left: 40px;
			color: $blanc;
		}
	}

	.info-post{
		background-color: $blanc;
		-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.2);
		padding: 40px;
		color: $grisFoncee;
		margin-bottom: 40px;
		.info-perso-post{
			position: relative;
			img{
				width:70px;
				height:70px;
				border-radius: 50%;
				background-color: $grisPale;

			}
			.username-post{
				font-size: 16px;
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				left: 100px;
			}
		}
		.titre-post{
			font-size:16px;
			width: 100%;
      margin-bottom: 15px;
		}
		.description-post{
			font-size: 14px;
			margin-top: 5px;
		}
		.date-post{
			color: $grisPale;
			font-size: 12px;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
}
//-------------------------------------------//
// 03 SCSS pour une page de section ex prifile et création post
//-------------------------------------------//
.entete-section{
	height:85px;
	background-color: $primaryColor;

	.titre-section{
		color: $blanc;
		position:relative;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 400;
		margin-left: 20px;
		i{
			font-size: 30px;
		}
	}
}
.info-section{
	padding: 20px;
	max-width: 800px;
	margin: auto;
		label{
			width: 100%;
			display: block;
      text-align: left;
			textarea{
				max-width: 100%;
				height: 200px;
			}
			select{
				width: 100%;
			}
		}
    .profile-image{
      border-radius: 50%;
      border: solid 2px $primaryColor;
      width: 160px;
      height: 160px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
    }
}
.recents-posts{
  h2{
    margin: 20px 0px;
  }
  .recent-post{
    @include box-sizing();
    width: 100%;
    padding: 15px 0;
    display: -webkit-inline-box;
    position: relative;
    border-bottom: solid 1px $grisPale;
    .recent-post-categorie{
      width: 20px;
      height: 20px;

      border-radius: 50%;
      display: block;
      margin-right: 20px;
    }
    .recent-post-title{
      margin-right: 20px;
    }
    .recent-post-date{
      color: $grisPale;
    }
    ul{
      padding: 0;
      list-style-type: none;
      position: absolute;
      top: -6px;
      right: 15px;
      li{
        display: inline;
        font-size: 30px;
        cursor: pointer;

        }
        .mpf-pencil{
          &:hover{
            color: $primaryColor
          }
        }
        .mpf-trash{
          &:after{
            content:"Supprimer";
            color: $erreur;
            position: absolute;
            font-size: 12px;
            padding: 5px;
            font-family:Montserrat;
            display: none;
          }
          &:hover{
            &:after{
              display: block;
              top: 5px;
              left: 67px;
            }
          }
      }
    }
      &.deletPost{
         transition: all 0.3s ease-in-out;
         transform: translateX(100%);
         -webkit-ransform: translateX(100%);
         -moz-ransform: translateX(100%);
         opacity: 0;
        }
    .modifer-post{
      width: 100%;
      max-width: 800px;
      margin: auto;
      padding: 20px;
      margin: auto;
      background-color:$background;
      border: solid 2px $primaryColor;
      border-radius: 10px;
      -webkit-transform: translateY(-60%);
      -moz-transform: translateY(-60%);
      transform: translateY(-60%);
      display: none;
      -webkit-box-shadow: 0px 15px 28px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 15px 28px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 15px 28px 0px rgba(50, 50, 50, 0.75);
      position: absolute;
      z-index: 10;
      left: -4%;
      h2{
        margin-bottom: 15px;
      }
      .closePopup{

        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

      }
    }
  }
}
.emptyPost{
  width: 100%;
  text-align: center;
  p{
    color: $grisPale;
    margin-bottom: 30px;
  }
  i{
    padding: 15px;
    background-color: $primaryColor;
    font-size: 25px;
    border-radius: 50% ;
    color: $blanc;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    position: relative;

    &:hover{
      background-color: darken( $primaryColor, 10%)
    }

  }
}

.classement-post{
  color: $blanc;
  position: fixed;
  width: 25px;
  height: 25px;
  font-size: 25px;
  right: 20px;
  bottom: 20px;
  padding: 14px;
  background-color: $primaryColor;
  border-radius: 50%;
  cursor: pointer;
  .btn-menu-open{
    z-index: 999;
  }
  ul{
    z-index: 1;
    list-style-type: none;
    li{
      transition: all 0.5s ease-in-out;
      position: absolute;
      color: $noir;
      top: 0px;
       opacity: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      left: 7px;
      z-index: -1;
      -webkit-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 3px 9px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 3px 9px 0px rgba(50, 50, 50, 0.75);
      &:hover{
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
      &.is-opened{
        opacity: 1;
      }
    }
  }
}
